<html>
  <head>
	<meta charset="UTF-8">
	<meta name="description" content="CS 4331-002 Special Topics in CS: Virtual Reality - Project 3">
	<meta name="keywords" content="Virtual,Reality,Project">
	<meta name="author" content="Xujia Wu and Simon Woldemichael">
	<title>CS 4331-002: Project 3 by Xujia Wu and Simon Woldemichael</title>
    
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
	<script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>

	<script src="https://cdn.jsdelivr.net/npm/particles.js@2.0.0/particles.min.js"></script>
	<link href="/css/particle-style.css" rel="stylesheet" type="text/css">
	
	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
	<link href="/css/styles.css" rel="stylesheet" type="text/css">
	
  </head>
  <body>
	<!-- Particle.js -->
	<div id="particle-container"></div>
	<script src="/js/particleConfig.js"></script>
	
	<!-- Header -->
	<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
      <header class="mdl-layout__header" style="background-color: #2979ff">
        <div class="mdl-layout__header-row">
          <!-- Title -->
          <span class="mdl-layout-title">Social Media VR! by Xujia Wu and Simon Woldemichael</span>
          <!-- Add spacer, to align navigation to the right -->
          <div class="mdl-layout-spacer"></div>
          <!-- Navigation. We hide it in small screens. -->
          <nav class="mdl-navigation">
           <a style="line-height: 1cm;" class="mdl-navigation__link mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--colored" href="https://www.github.com/carolynwu/VR_Project_3"><div><i style="line-height: 1cm;" class="fa fa-github fa-2x"/></i></div></a>
          </nav>
        </div>
      </header>
	<!-- Side layout drawer -->  
	<div class="mdl-layout__drawer ">
        <span class="mdl-layout-title">Social Media VR!</span>
        <nav class="mdl-navigation">
			<a style="line-height: 10px;" class="mdl-js-ripple-effect mdl-navigation__link" href="https://www.github.com/carolynwu/VR_Project_3">Project GitHub Repository</a>
			<a style="line-height: 10px;" class="mdl-js-ripple-effect mdl-navigation__link" href="https://trello.com/b/GRBMbBuo/cs-4331-002-virtual-reality-project-3">Project Trello Board</a>
			<a style="line-height: 10px;" class="mdl-js-ripple-effect mdl-navigation__link" href="https://www.github.com/carolynwu/">Carolyn's GitHub</a>
			<a style="line-height: 10px;" class="mdl-js-ripple-effect mdl-navigation__link" href="https://www.github.com/swoldemi/">Simon's GitHub</a>
			<a style="line-height: 10px;" class="mdl-js-ripple-effect mdl-navigation__link" href="https://aframe.io/">Get A-Frame!</a>
        </nav>
	</div>
	  
	<!-- Login-page form-->
    <div class="login-page">
      <div class="form">
        <h2>Enter Room Name and Username</h2>
        <form class="login-form" action="/hub" method="GET">

          <input type="text" name="room" placeholder="room" required/>
          <input type="text" name="username" placeholder="username" required/>
		<button style="line-height: 10px;" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect"> Let's Go!</button>
        </form>
      </div>
    </div>
	
	
	<footer class="mdl-mini-footer">
		<div class="mdl-mini-footer__left-section">
			<div class="mdl-logo">CS 4331-002: Project 3 by Xujia Wu and Simon Woldemichael</div>
			<ul class="mdl-mini-footer__link-list">
				<li>Social Media VR!</li>
			</ul>
		</div>
	</footer>
	</div>
  </body>
</html>